body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: darkgrey linear-gradient(rosybrown, purple);
    border: darkslateblue 4px solid;
}

h1, h2{
    margin: 20px 0 30px 0;
    color: black;
    text-align: center;
    text-shadow: -1px 1px 2px dimgray;
}

.avatar{
    width: 35%;
    height: 200px;
}
#card {
    border-left: 10px solid darkslateblue;
    border-right: 10px solid darkslateblue;
    padding: 20px;
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: space-around;
    background-color: darkslategrey;
}

#column{
    border: 4px dotted darkgreen;
    width: 250px;
    text-align: center;
    color: lightseagreen;
    text-shadow: -1px 1px 1px black;
}

.border-green{
    border: 4px dotted darkgreen;
}

.line{
    text-align: center;
    text-shadow: none;
    color: black;
    font-style: inherit;
}

#container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-bottom: 30px;
}

#separation{
    border: 2px solid darkslateblue;
    margin-top: 50px;
}

h2{
    padding: 20px 0 30px 0;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    border: 3px dotted rosybrown;
    padding: 10px;
transition: transform 0.5s;

}

.img:hover{
    transform: scale(1.2);
}

